@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);


body {
  padding:10px;
  background-color: black;
}

/*.top {
	background-color: gray;
	background-size: cover;
	margin: 0 !important;
	padding: 0 !important;
}*/

.cover:hover {
    cursor: pointer;
    opacity: 0.4;

}

#instructions{
	color: white;
	text-align: center;
}

.songList:hover {
    cursor: pointer;
    opacity: 0.4;

}
.songList {
	width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover;
    list-style-type: none;
}

.cover {
	width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
    list-style-type: none;
}

.art {
	margin: auto;
}


#songArtist {
	display: none;
}

@media screen and (min-width: 992px) {
	.coolPic {
		background-image: url(../background-md.jpg);
		height: 550px;
		width: 100%;
		background-size: cover;
	}
}


.searchFunction h3 {
	text-align: center;
	color: white;
	padding-bottom: 50px;
	font-size: 60px;
}

.search-box {
	display: block;
/*	width: 50%;*/
	position: relative;
	text-align: center;
}

#description {
	text-align: center;
	color: white;
}

.searchFunction button{
/*	margin: auto;*/
	width: 25%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.spotifySearch {
/*	width: 700px ;*/
/*  	margin-top: 50px ;
  	margin: auto ;*/
  	padding-top: 100px;

}

.coolPic {
	background-image: url(../background.jpg);
	height: 550px;
	width: 100%;
	background-size: cover;
}



